@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  background-color: #000;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  color: #fff;
  width: 1300px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}
header .contact{
  color: rgb(11, 235, 243);
}

header li {
  display: inline-block;
  margin: 20px;
}

a {
  position: relative;
  color: #fff;
  bottom: 0em;
}

header a:hover {
  color: rgb(11, 235, 243);
  transition: 0.5s all;
  bottom: 0.5em;
}

#inscreva-se-btn {
  border: 2px solid rgb(11, 235, 243);;
  padding: 10px;
  border-radius: 15px;
}

#inscreva-se-btn:hover {
  background-color: rgb(11, 235, 243);;
  color: #000;
  transition: 0.5s;
  font-weight: 550;
}

 #title {
  flex-direction: column;
  line-height: 30px;
}
header h1{
   font-weight: 200;
}
.main-box{
  display: flex;
  width: 95%;
  margin: 4em 0;
}

.img-box{
  width: 50%;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}
.img-box img{
  width: 100%;
}
.form-box{
  backdrop-filter: blur(40px);
  padding: 30px 40px;
  width: 50%;
  border-radius: 20px;
}
.fom-box h2 {
  font-size: 30px;
}
.form-box p{
  font-weight: bold;
}
.form-box p a {
  color: rgb(11, 235, 243);
  text-decoration: none;
}

.form-box form{
  margin: 20px 0;
}
form .input-group{
  margin-bottom: 15px;
}
form .input-group label{
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
form .input-group textarea{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.32);
  color: #fff;
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 25px;
  transition: all 0.4s ease;
}
form .input-group textarea:focus{
  border-color:  rgb(11, 235, 243);
}
form .input-group input{
  width: 100%;
  height: 47px;
  background-color: rgba(255, 255, 255, 0.32);
  color: #fff;
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 25px;
  transition: all 0.4s ease;
}
form .input-group input:focus{
  border-color: rgb(11, 235, 243);;
}
form .input-group button{
  width: 100%;
  height: 47px;
  background: rgb(11, 235, 243);;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.footer{
  background: #000;
}
.footer .box-container{
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  margin: 1rem 1.5rem;
}
.footer .box-container .box h3{
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.6rem 0;
}
.footer .box-container .box h3 i{
  color: rgb(11, 235, 243); 
}


.footer .box-container .box .links{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0.5rem 0;
  margin-right: 3rem;
}

.footer .box-container .box p{
  padding: 0.5rem 0;
  line-height: 1.8;
}
.footer .box-container .box .links {
  position: relative;
  left: 0.0em;
  text-decoration: none;
}

.footer .box-container .box .links:hover{
  color: rgb(11, 235, 243);
  transition: 0.5s;
  left: 1em;
}


.footer .box-container .box .share a{
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: .5rem;
  font-size: 2rem;
  margin-left: 2rem;
  background: #eee;
  text-align: center;
}
.footer .box-container .box .email{
  width: 60%;
  padding: 0.7em;
  border-radius: .8rem;
  background: #eee;
  font-size: 1rem;
  text-transform: none;
}

.footer .box-container .box .payment-img {
  margin-top: 0rem;
  height: 8rem;
}

.footer .box-container .box .btn{
  background: #000;
  color: #fff;
  border: 2px solid rgb(11, 235, 243);
  padding: 0.9em;
  border-radius: 10px;
  margin: 20px 0;
}

.footer .box-container .box .btn:hover{
  background-color: rgb(11, 235, 243);
  color: #000;
  transition: 0.5s;
  font-weight: 550;
}

.footer .credit{
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 1.3rem;
  color: #fff;
}
.footer .credit span{
  color: rgb(11, 235, 243);
  text-align: center;
}

/*

@media screen and (max-width: 780px){
  body{
    width: 100%;
  }
  
 header{
    flex-direction: column;
    margin-top: 20px;
  }
  header ul{
    position: relative;
  }
  
  #title {
  flex-direction: column;
  line-height: 30px;
  margin-bottom: 25px;  
  }
  
  h1{
    text-align: center;
  } 
  
  header li {
    margin: 15px;
  }
  
  #inscreva-se-btn{
    display: block;
    padding: 2px;
    text-align: center;
  }
  
  .img-box{
    display: none;
  }
  .main-box{
    width: 100%;
  }
  .form-box{
    width:100%;
    border-radius: 20px;
  }
  .footer .box-container{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  form .input-group input,form .input-group textarea{
    font-size: 1.2em;
  }
  
  .footer .box-container .box .links {
    position: relative;
    left: 1.5em;
    text-decoration: none;
  }
  .footer .box-container .box .links:hover{
    right: 0;
    bottom: 0;
    left: 2rem
  }
}
/*
@media (max-width:500px){
  
}

